* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("https://i.pinimg.com/736x/14/3d/d4/143dd43605eab0712dbeb47a34b06ca3.jpg");
    color: #616852;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    font-family: 'Bebas Neue', Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 2rem;
    color: #e1e1e1;
    margin-bottom: 20px;
}

.contenedorLogin, .contenedorRegister {
    background-color: #78211e;
    padding: 20px;
    border-radius: 30px;
    text-align: left;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contenedorForm, .signupForm {
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    width: 90%;
    max-width: 800px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #beb3ac;
    border-radius: 8px;
    outline: none;
    background: #e1e1e1;
    color: #333333;
    transition: color 0.3s ease, background 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    color: #666;
}

button, .btn_aceptar {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
}

.btn_aceptar {
    color: #333;
    border-color: #333;
}

button:hover {
    background-color: #2868a2;
}

.btn_aceptar:hover {
    background-color: #820115;
    color: #fff;
}

a {
    text-decoration: none;
    color: #beb3ac;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #616852;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.8rem;
    }

    button, .btn_aceptar {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .contenedorLogin, .contenedorRegister {
        padding: 1.5rem;
    }
}
