/* Reset y configuración global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("https://i.pinimg.com/736x/14/3d/d4/143dd43605eab0712dbeb47a34b06ca3.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #616852;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

/* Encabezados */
h2 {
    font-family: 'Bebas Neue', Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 2.5rem;
    color: #e1e1e1;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: slideDown 0.8s ease-in-out;
}

/* Contenedores principales */
.contenedorLogin, 
.contenedorRegister {
    background-color: rgba(120, 33, 30, 0.9); /* Opacidad para mostrar el fondo */
    padding: 30px;
    border-radius: 30px;
    text-align: left;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    animation: zoomIn 0.5s ease-in-out;
}

/* Formularios */
.contenedorForm, 
.signupForm {
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    width: 90%;
    max-width: 800px;
}

/* Inputs */
input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: calc(100% - 20px);
    max-width: 400px;
    margin: 10px 0;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #beb3ac;
    border-radius: 8px;
    outline: none;
    background: #f7f7f7;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.btn-carrito {
    margin: 20px;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-carrito:hover {
    background-color: #006400;
    color: #fff;
}

/* Enlaces */
a {
    text-decoration: none;
    color: #beb3ac;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: #ffffff;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0.6);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    button, .btn_aceptar {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.8rem;
    }

    .contenedorLogin, .contenedorRegister {
        padding: 20px;
    }
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
